.navbar {
  background-color: #f5a068 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 767px) {
.navbar {
    padding: 1rem 2rem!important;
    font-size: 1.4rem!important;
    background-color: var(--tertiary-color) !important;
  }
}

nav {
  text-align: center;
}

#header h1 {
  font-family: var(--heading-font-family);
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 3px;
}

ul {
  display: flex;
}


.navbar li {
  list-style-type: none;
  font-size: 20px;
  padding-left: 30px;
  flex-wrap: wrap;
}

#header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#footer {
  background-color: #f5a068;
  // position: realative;
  margin: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
  // z-index: 1030;
  line-height: 5vw;
}