@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:wght@500;900&display=swap');

// Import custom variables and Bulma overides
@import './header-footer.scss';
@import './about.scss';
@import './portfolio.scss';
@import './contact.scss';


// Import only what you need from Bulma

// :root {
//   --primary-color: #fff5f0;
//   --secondary-color: #033a49;
//   --tertiary-color: #4b8cc2;
//   --accent-color: #fc5c3c;
//   // --accent-color: #ec5002;
//   --heading-font-family: "Playfair Display", serif;
//   --subheading-font-family: "Josefin Sans", sans-serif;
//   --default-font-family: "Open Sans", sans-serif;
// }

// * {
//   box-sizing: inherit;
// }

// html, body {
//   margin:0;
//   padding:0;
//   overflow-x:hidden;
// }

.App {
  text-align: center;
  background-color: #fff5f0;
  font-family: "Josefin Sans", sans-serif;
  color: #033a49;
  padding: 60px 0;
  width: 100%;
}

#home {
  padding: 60px;
}

body {
  font: 20px 'Josefin Sans', sans-serif;
  line-height: 1.8;
  color: #fff5f0;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

// .margin {
//   margin-bottom: 45px;
// }

p {
  font-size: 16px;
}


@media (min-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 60px;
  }

  p {
    font-size: 1.2vw;
  }
}