@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:wght@500;900&display=swap');

// Import custom variables and Bulma overides
@import './header-footer.scss';
@import './sections.scss';


// Import only what you need from Bulma

// :root {
//   --primary-color: #fff5f0;
//   --secondary-color: #033a49;
//   --tertiary-color: #4b8cc2;
//   --accent-color: #fc5c3c;
//   // --accent-color: #ec5002;
//   --heading-font-family: "Playfair Display", serif;
//   --subheading-font-family: "Josefin Sans", sans-serif;
//   --default-font-family: "Open Sans", sans-serif;
// }

// html, body {
//   margin:0;
//   padding:0;
//   overflow-x:hidden;
// }

.App {
  text-align: center;
  // background-color: #4b8cc2;
  background-color: #fff5f0;
  font-family: "Josefin Sans", sans-serif;
  color: #033a49;
  // padding: 60px 0;
  position: relative;
  // width: 100vw;
  // // height: 100vh;
  // height: 100%;
  // z-index: 100;
  // top: 0;
  // left: 0;  
  // right: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  // background-color: #0c0513;
  // background-image: url(./Assets/pre.svg);
  // background-repeat: no-repeat;
  // background-position: center;
}

// .full-height {
//   height: 100%;
//   background-color: #fff5f0;
// }

html, body {
  height: 100%;
}

#home { 
  padding: 250px 0;
  height: 100vh;
  margin-bottom: 60px;
}

body {
  font: 20px 'Josefin Sans', sans-serif;
  line-height: 1.8;
  color: #fff5f0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.margin {
  margin-bottom: 20px;
}

p { 
  font-size: 16px;
  margin: 0;
  padding: 30px;
}


@media (min-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
    // padding: 60px;
  } 

  p {
    font-size: 1.2vw;
  }

  // #about {
  //   height: 100vh;
  // }

  // #portfolio {
  //   height: 100vh;
  // }
}

@media (max-width: 600px) {
  #profile-img {
    width: 80%;
  }
}

.fa { 
  margin: 10px;
  padding: 20px;
  font-size: 30px;

  text-align: center;
  text-decoration: none;
  color: #033a49;
  border-radius: 100%;
  border: 2px #033a49 solid; 
}

.fa:hover {
  color: #fc5c3c;
  opacity: 0.9;
  border-color: #fc5c3c;
  box-shadow: 5px 10px 10px #fc5c3c62;
}
