.navbar {
  background-color: #f5a068 !important;
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
.navbar {
    padding: 1rem 2rem!important;
    font-size: 1.4rem!important;
    background-color: var(--tertiary-color) !important;
  }
}


ul {
  display: flex;
}

li {
  list-style-type: none;
}
