// ABOUT //

#profile-img {
  display: block;
  border: 2px solid #fc5c3c;
  width: 40%; 
}

// .img-circle {
//   display: inline;
//   width: 350;
//   height: 350; 
// }


// PORTFOLIO //

.img-responsive {
  width: 100%;
}


// CONTACT //

#contact {
  text-align: center justify;
}



