// ABOUT //
 #about {
   padding: 80px 0;
   height: 100%;
 }

//  .img-fluid {
//    display: block;
//  }

// PORTFOLIO //

#portfolio {
  padding: 80px 0;
  height: 100%;
}

.img-responsive {
  display: block;
  width: 100%;
}

.project-description {
  padding: 0px;
}

.col-sm-4 {
  margin: 2px;
  padding-top: 10px;
  // padding-right: 2px;
  // padding-left: 2px;
  border: 1px #fc5c3c solid;
}

// CONTACT //

#contact {
  padding: 100px 0;
  height: 100vh;
}

.section-title {
  text-decoration: underline #fc5c3c;
}

