// HOME //
#home {
  padding: 60px 0;
}

// ABOUT //
 #about {
   padding: 60px 0;
 }

//  .img-fluid {
//    display: block;
//  }

// PORTFOLIO //

#portfolio {
  padding: 60px 0;
}

.img-responsive {
  display: block;
  width: 100%;
}

// CONTACT //

#contact {
  padding: 60px 0;
  // text-align: center justify;
}

.section-title {
  text-decoration: underline #fc5c3c;
}



