/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./client/styles/index.scss ***!
  \*******************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:wght@500;900&display=swap);
/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./client/styles/index.scss (1) ***!
  \***********************************************************************************************************************/
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 5px;
  display: fixed;
  text-align: center;
  color: #033a49;
}

.navbar-nav li a:hover {
  color: #ec5002 !important;
}

.navbar-brand:hover {
  color: #ec5002 !important;
}

#footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  font-size: large;
}

#footer p {
  padding: 20px 0;
}

#about {
  background: linear-gradient(180deg, #fcbaa0 0%, #fff5f0 50%);
}

#about-section {
  padding-top: 90px;
  padding-bottom: 20px;
  height: 100vh;
}

#portfolio {
  background: linear-gradient(180deg, #fcbaa0 0%, #fff5f0 30%);
}

#portfolio-section {
  padding: 90px;
}

.img-responsive {
  display: block;
  width: 100%;
}

a {
  font-size: 20px;
  text-decoration: underline;
  color: #033a49;
}

a:hover {
  text-decoration: #ec5002;
}

.project-description {
  padding: 0px;
}

.row {
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col-sm-4 {
  padding-top: 10px;
}

.col-sm-4:hover {
  box-shadow: 5px 5px 10px #f35202d5;
}

#contact {
  background: linear-gradient(180deg, #fcbaa0 0%, #fff5f0 50%);
}

#contact-section {
  padding-top: 90px;
  height: 90vh;
}

.App {
  text-align: center;
  background-color: #fff5f0;
  font-family: "Josefin Sans", sans-serif;
  color: #033a49;
  position: relative;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

html, body {
  height: 100%;
}

#home {
  background: linear-gradient(180deg, #fcbaa0 0%, #fff5f0 100%);
  padding-top: 290px;
  height: 100vh;
}

body {
  font: 20px "Josefin Sans", sans-serif;
  line-height: 1.8;
  color: #fff5f0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.margin {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 30px;
}

@media (min-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  p {
    font-size: 1.2vw;
  }
}
@media (max-width: 600px) {
  #profile-img {
    width: 80%;
  }
}
.fa {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #033a49;
  border-radius: 100%;
  border: 2px #033a49 solid;
}

.fa:hover {
  color: #ec5002;
  opacity: 0.9;
  border-color: #ec5002;
  box-shadow: 5px 10px 10px #fc5c3c62;
}

/*# sourceMappingURL=styles.css.map*/