body {
  /* background-color: #ffe1cc; */
  /* background-color: #fed9ba; */
  /* color: #fc5c3c; */
  background-color: #FFE0AE;
  color: #ec5002;
}

a {
  text-decoration: none;
  /* color: #193668; */
  color: #033f50;
}

a:hover {
  text-decoration: none;
  color: #4b8cc2;
}
